.footer {
    margin-top: 30px;
    padding: 16px 0;
    background-color: #f2f2f3;

    &__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        font-size: 12px;

        a {
            display: inline-block;
            padding: 3px 5px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    &__bottom {
        color: #71717a;
        text-align: center;
        font-size: 12px;
        max-width: 80%;
        margin: 16px auto 0;
    }
}

/* ==================== RESPONSIVE ==================== */

/* Tablet: 768px - 1023px */
@media (max-width: 1023px) {
    .footer {
        &__top {
        grid-template-columns: repeat(2, 1fr);

        }

        &__bottom {
        }
    }
}

/* Mobile: ≤ 767px */
@media (max-width: 767px) {
    .footer {
        &__top {
        }

        &__bottom {
        }
    }
}

/* Mobile nhỏ: ≤ 480px */
@media (max-width: 480px) {
    .footer {
        &__top {
        }

        &__bottom {
        }
    }
}
