.mega-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 1000;
}

.mega {
    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        height: 100%;

        margin-left: 10px;
        padding: 20px;
        max-width: 100%;
        width: calc(1200px - 236px - 10px);
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);

        h3 {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 500;
        }

        & > div:nth-child(2),
        & > div:nth-child(3) {
            padding-left: 20px;
            border-left: 1px solid $color-woodsmoke-200;
            height: 100%;
        }
    }
}

.menu-brand {
    &__list {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        a {
            padding: 6px 0;
            font-size: 16px;
            font-weight: 400;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.menu-hot-lines {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    a {
        padding: 6px 0;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            color: $primary-color;
        }
    }
}

.menu-promo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;

        h4 {
            font-weight: 400;
        }

        span {
            margin-top: 6px;
            font-size: 14px;
            color: $primary-color;
        }
        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
        }
    }
}

.sidebar__item:hover .mega-menu {
    display: block;
}
