.phones {
    margin: 20px 0;
    &-filter {
        &__list {
            margin-top: 20px;
            display: flex;
            gap: 16px;

            li a {
                display: block;
                padding: 8px;
                border: 1px solid $color-woodsmoke-100;
                border-radius: 8px;

                &:hover {
                    color: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }

    &-body {
        margin-top: 16px;
        &__wrapper {
            @include boxShadowSection;
        }

        &__filter {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 8px 16px;
            border-bottom: 1px solid $color-woodsmoke-300;

            ul {
                display: flex;
                gap: 8px;
                margin-left: 10px;
            }

            li {
                padding: 8px;
                cursor: pointer;

                &.active {
                    color: $primary-color;
                    font-weight: 600;
                }
            }
        }

        &__items {
            padding: 16px;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;
        }

        .button-view-more {
            text-align: center;

            button {
                margin: 16px 0;
                font-size: 14px;
                font-weight: 500;
                padding: 8px 10px;
                border: 1px solid #000;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }
}
